<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <% for(var i=0 ; i<result2.length; i++) {%>
       <tr>
         <td>
            <%if (result2[i] =="iPhone 13 Pro") { %>
                <div class="container1">
                <img id="image" src="/iphone.jpg" width="180" height="250">
                <br>
                <label id ="label2" class="ml-4 my-2">iPhone 13 Pro</label>
                <br>
                <button onclick="location.href = '/iphone';" id="iphone" class="btn btn-secondary ml-3"> View </button>
                </div>
                <% } %>

             <%if (result2[i] =="Galaxy S21 Ultra") { %>
                <div class="container2">
                <img id="image" src="/galaxy.jpg" width="180" height="250">
                <br>
                <label id="label1" class="ml-4 my-2">Galaxy S21 Ultra</label>
                <br>
                <button onclick="location.href = '/galaxy';" id="galaxy" class="btn btn-secondary ml-3"> View </button>
                </div>
                <% } %>

            <%if (result2[i] =="Leaves of Grass") { %>
                <div class="container3">
                <img id="image" src="/leaves.jpg" width="180" height="250">
                <br>
                <label id="label1" class="ml-4 my-2">Leaves of Grass</label>
                <br>
                <button onclick="location.href = '/leaves';" id="leaves" class="btn btn-secondary ml-3"> View </button>
                </div>
                <% } %>    

            <%if (result2[i] =="The Sun and Her Flowers") { %>
                <div class="container4">
                <img id="image" src="/sun.jpg" width="180" height="250">
                <br>
                <label id ="label2" class="ml-4 my-2">The Sun and Her Flowers</label>
                <br>
                <button onclick="location.href = '/sun';" id="sun" class="btn btn-secondary ml-3"> View </button>
                </div>
                <% } %>   

            <%if (result2[i] =="Boxing Bag") { %>
                <div class="container5">
                <img id="image" src="/boxing.jpg" width="180" height="250">
                <br>
                <label id="label1" class="ml-4 my-2">Boxing Bag</label>
                <br>
                <button onclick="location.href = '/boxing';" id="boxing" class="btn btn-secondary ml-3"> View </button>
                </div>
                <% } %>
                
            <%if (result2[i] =="Tennis Racket") { %>
                <div class="container6">
                <img id="image" src="/tennis.jpg" width="180" height="250">
                <br>
                <label id ="label2" class="ml-4 my-2">Tennis Racket</label>
                <br>
                <button onclick="location.href = '/tennis';" id="tennis" class="btn btn-secondary ml-3"> View </button>
                </div>
                <% } %>  
         </td>
       </tr>
    <% } %>

    <h1 style="justify-content: center;color:rgb(247, 247, 247);position: relative;">
        <%= alert %>
    </h1>

</body>
</html>